<div class="contentSubContainer contentSubContainer--center">
    <div class="contentHeader contentHeader--center">
        <p>DevLog #7: Finishing Up</p>
    </div>
    <div class="contentBody contentBody--center">
        <i class="fa-solid fa-code-merge contentIcon"></i>
        <p>Final merging of progress from the teams working in Unity was accomplished for integration testing. Bug fixes were performed to
            produce a complete and playable version of the game. Information and assets for Steam finalized.</p>
    </div>
</div>
<br />
<div class="contentSubContainer contentSubContainer--center">
    <div class="contentHeader contentHeader--center">
        <p>DevLog #6: Asset Integration</p>
    </div>
    <div class="contentBody contentBody--center">
        <i class="fa-solid fa-palette contentIcon"></i>
        <p>The created 3D models, music, and SFX were added to the game. An audio manager was produced to manage the
            sounds while the core logic team integrated the models with the code.</p>
    </div>
</div>
<br />
<div class="contentSubContainer contentSubContainer--center">
    <div class="contentHeader contentHeader--center">
        <p>DevLog #5: Usability Study</p>
    </div>
    <div class="contentBody contentBody--center">
        <i class="fa-solid fa-book contentIcon"></i>
        <p>The website and game were subject to a formative usability study. Feedback from participants were indicitive
            of Fitts's leading us to reconsider button sizing and placement. Limiting the number of options available to
            the user at a time also simplified the design and aided usability.</p>
    </div>
</div>
<br />
<div class="contentSubContainer contentSubContainer--center">
    <div class="contentHeader contentHeader--center">
        <p>DevLog #4: Initial UI</p>
    </div>
    <div class="contentBody contentBody--center">
        <i class="fa-solid fa-display contentIcon"></i>
        <p>Headway has been made with the User Interface. An initial design with clickable buttons that interact with
            the game engine and components has been implemented.
        </p>
    </div>
</div>
<br />
<div class="contentSubContainer contentSubContainer--center">
    <div class="contentHeader contentHeader--center">
        <p>DevLog #3: Core Logic Progress</p>
    </div>
    <div class="contentBody contentBody--center">
        <i class="fa-solid fa-earth-americas contentIcon"></i>
        <p>Extensive progress has been made on core logic. Mesh generation, and procedures for both the grid and the sea
            mesh has been added. Networking with sea level rise, selectable tiles, and the beginning of building logic
            all function.</p>
    </div>
</div>
<br />
<div class="contentSubContainer contentSubContainer--center">
    <div class="contentHeader contentHeader--center">
        <p>DevLog #2: Website Progress</p>
    </div>
    <div class="contentBody contentBody--center">
        <i class="fa-solid fa-globe contentIcon"></i>
        <p>Initial progress has been made on the website based on the Figma wireframe. It has been interesting utilizing
            ASP.NET Core and Blazor as part of the tech stack which enables C# for front end development.</p>
    </div>
</div>
<br />
<div class="contentSubContainer contentSubContainer--center">
    <div class="contentHeader contentHeader--center">
        <p>DevLog #1: Initial Planning</p>
    </div>
    <div class="contentBody contentBody--center">
        <i class="fa-solid fa-person-running contentIcon"></i>
        <p>Turn The Tides was selected as the project to pursue and has begun its journey to greatness! Team members
            split
            up into groups to address specific areas including AI, Arts, Core Logic, Database, and QA. Ideas to proceed
            were produced through discussion, design documents, and wireframes. The path forward is bright!</p>
    </div>
</div>
<br />