<div class="contentSubContainer contentSubContainer--center">
    <div class="contentHeader contentHeader--center">
        <p>DevLog #2: Website Progress</p>
    </div>
    <div class="contentBody contentBody--center">
        <i class="fa-solid fa-globe contentIcon"></i>
        <p>Initial progress has been made on the website based on the Figma wireframe. It has been interesting utilizing
            ASP.NET Core and Blazor as part of the tech stack which enables C# for front end development.</p>
    </div>
</div>
<br />
<div class="contentSubContainer contentSubContainer--center">
    <div class="contentHeader contentHeader--center">
        <p>DevLog #1: Initial Planning</p>
    </div>
    <div class="contentBody contentBody--center">
        <i class="fa-solid fa-person-running contentIcon"></i>
        <p>Turn The Tides was selected as the project to pursue and has begun its journey to greatness! Team members split
            up into groups to address specific areas including AI, Arts, Core Logic, Database, and QA. Ideas to proceed
            were produced through discussion, design documents, and wireframes. The path forward is bright!</p>
    </div>
</div>
<br />