<div class="contentSubContainer">
    <div class="contentHeader">
        <p>What is Turn The Tides?</p>
    </div>
    <div class="contentBody">
        <i class="fa-solid fa-house-flood-water contentIcon"></i>
        <p>Turn The Tides is a turn based strategy game where the player is entrusted with managing a region of
            the world, making decisions about the economy, industry, environment, and disaster mitigation.</p>
    </div>
</div>
<br />
<div class="contentSubContainer contentSubContainer--right">
    <div class="contentHeader contentHeader--right">
        <p>How Do I Play?</p>
    </div>
    <div class="contentBody contentBody--right">
        <i class="fa-solid fa-dice contentIcon contentIcon--right"></i>
        <p>Use strategy and the tools at you disposal to affect pollution levels, reclaim land, and defend
            against imminent flooding. Reach a win condition while avoiding ruin to earn a victory!</p>
    </div>
</div>
<br />
<div class="contentSubContainer">
    <div class="contentHeader">
        <p>What Can I Learn From It?</p>
    </div>
    <div class="contentBody">
        <i class="fa-solid fa-graduation-cap contentIcon"></i>
        <p>The game uses a supervised learning regression algorithm to simulate realistic climate modelling
            based on inputs like CO2 emissions, global temperature, and forest land area. Players gain an
            understanding of the results of industrial decisions reflected through this model.</p>
    </div>
</div>
<br />