<div class="contentSubContainer contentSubContainer--right">
    <div class="contentHeader contentHeader--right">
        <p>AI Team</p>
    </div>
    <div class="contentBody contentBody--right">
        <i class="fa-solid fa-face-smile contentIcon contentIcon--right"></i>
        <p>Jason L.</p>
    </div>
    <div class="contentBody contentBody--right">
        <i class="fa-solid fa-face-smile contentIcon contentIcon--right"></i>
        <p>Kyle</p>
    </div>
    <div class="contentBody contentBody--right">
        <i class="fa-solid fa-face-smile contentIcon contentIcon--right"></i>
        <p>Tae</p>
    </div>
</div>
<br />
<div class="contentSubContainer">
    <div class="contentHeader">
        <p>Arts Team</p>
    </div>
    <div class="contentBody">
        <i class="fa-solid fa-face-smile contentIcon"></i>
        <p>Tanner</p>
    </div>
    <div class="contentBody">
        <i class="fa-solid fa-face-smile contentIcon"></i>
        <p>Jason P.</p>
    </div>
    <div class="contentBody">
        <i class="fa-solid fa-face-smile contentIcon"></i>
        <p>Gurjeet</p>
    </div>
</div>
<br />
<div class="contentSubContainer contentSubContainer--right">
    <div class="contentHeader contentHeader--right">
        <p>Core Logic Team</p>
    </div>
    <div class="contentBody contentBody--right">
        <i class="fa-solid fa-face-smile contentIcon contentIcon--right"></i>
        <p>Alex C.</p>
    </div>
    <div class="contentBody contentBody--right">
        <i class="fa-solid fa-face-smile contentIcon contentIcon--right"></i>
        <p>Alex H.</p>
    </div>
    <div class="contentBody contentBody--right">
        <i class="fa-solid fa-face-smile contentIcon contentIcon--right"></i>
        <p>Caleb</p>
    </div>
    <div class="contentBody contentBody--right">
        <i class="fa-solid fa-face-smile contentIcon contentIcon--right"></i>
        <p>Mansib</p>
    </div>
    <div class="contentBody contentBody--right">
        <i class="fa-solid fa-face-smile contentIcon contentIcon--right"></i>
        <p>Rodrigo</p>
    </div>
    <div class="contentBody contentBody--right">
        <i class="fa-solid fa-face-smile contentIcon contentIcon--right"></i>
        <p>Will</p>
    </div>
</div>
<br />
<div class="contentSubContainer">
    <div class="contentHeader">
        <p>Database Team</p>
    </div>
    <div class="contentBody">
        <i class="fa-solid fa-face-smile contentIcon"></i>
        <p>Olivia</p>
    </div>
    <div class="contentBody contentBody--right">
        <i class="fa-solid fa-face-smile contentIcon"></i>
        <p>Polina</p>
    </div>
    <div class="contentBody contentBody--right">
        <i class="fa-solid fa-face-smile contentIcon"></i>
        <p>Richard</p>
    </div>
    <div class="contentBody contentBody--right">
        <i class="fa-solid fa-face-smile contentIcon"></i>
        <p>Vincent</p>
    </div>
</div>
<br />
<div class="contentSubContainer contentSubContainer--right">
    <div class="contentHeader contentHeader--right">
        <p>Dev Ops Team</p>
    </div>
    <div class="contentBody contentBody--right">
        <i class="fa-solid fa-face-smile contentIcon contentIcon--right"></i>
        <p>Alfredo</p>
    </div>
    <div class="contentBody contentBody--right">
        <i class="fa-solid fa-face-smile contentIcon contentIcon--right"></i>
        <p>Bryson</p>
    </div>
    <div class="contentBody contentBody--right">
        <i class="fa-solid fa-face-smile contentIcon contentIcon--right"></i>
        <p>Keith</p>
    </div>
    <div class="contentBody contentBody--right">
        <i class="fa-solid fa-face-smile contentIcon contentIcon--right"></i>
        <p>Phyo</p>
    </div>
</div>
<br />
<div class="contentSubContainer">
    <div class="contentHeader">
        <p>Project Manager</p>
    </div>
    <div class="contentBody">
        <i class="fa-solid fa-face-smile contentIcon"></i>
        <p>Corey</p>
    </div>
</div>
<br />
<div class="contentSubContainer contentSubContainer--right">
    <div class="contentHeader contentHeader--right">
        <p>Quality Assurance</p>
    </div>
    <div class="contentBody contentBody--right">
        <i class="fa-solid fa-face-smile contentIcon contentIcon--right"></i>
        <p>Ben</p>
    </div>
</div>
<br />