name: Github Container Deploy

on:
  push:
    branches:
      - website

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ghcr.io/TP-3T/Website:latest .

      - name: Push Docker image
        run: |
          docker push ghcr.io/TP-3T/Website:latest
